/* global */
document,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote{margin:0;padding:0;}
fieldset,img{border:0; font-family: 微软雅黑}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;}
ul,ol,dl,li,dt,dd{list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;line-height:1;}

a { 
    text-decoration:none; 
    outline: none;
}
a:hover { text-decoration:underline;}

html {
    _filter:expression(document.execCommand("BackgroundImageCache", false, true));
    _background-image: url(about:blank); _background-attachment: fixed;/* prevent screen flash in IE6 */
}
.clear{
    clear:both;
    height: 0;
    overflow: hidden;
    font-size: 0;
    content: "";
}
.fixed{position: fixed;}
.rel{position: relative;}
.abs{position: absolute;}
.fl{float:left;}
.fr{float:right;}

.wid980{width:980px;}
.wid1200{width:1200px;}


