@CHARSET "UTF-8";
body,div,p,span{
	font-family: 微软雅黑
}
.widget-header{
position: fixed;
background-color: #fff;
width: 100%;
z-index:999;
top:0px;
}
.widget-toolbar{
right: 10px;
}
.row{
	margin: 0px;
	padding: 0px;
}
.widget-body{
margin-top: 30px;
}
label{
	text-align: right;
}